{% extends 'music/base.html' %}
{% block body %}
<div class="row">
	<div class="col s12 m3" style="padding: 5%;color:#000000;height:90vh;">
	<img src="{{album.album_logo}}" class="z-depth-2">
	<h5>{{album.album_title}}</h5>
	<p><i> {{album.artist}}</i></p>
</div>
<div class="col s12 m9" style="padding:3% 5%;height: 90vh;">
<h4 style="color:#ee6e73;">All Songs</h4>
<ul style="background-color:;">
	{% for song in album.song_set.all %}
	<li style="color: #000000"><h6>{{song.song_title}}</h6> </li>

	{% endfor %}
</ul>
</div></div>
{% endblock %}